{% extends "registration/base.html" %}
{% block content %}
<div id="panel-wrapper">
<div class="panel panel-primary" id="auth-panel">
<div class="panel-heading">Авторизация</div>
<div class="panel-body">
{% load staticfiles %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
{% else %}
<form method="post" action=""> 
{% csrf_token %}
{{ form|crispy }}
<input type="submit" value="Вход" class="btn btn-primary">
<div class="option-link">
<a href="{% url 'registration_register' %}">
Регистрация
</a>
<br>
<a href="{% url 'auth_password_reset' %}">
Восстановление пароля
</a>
</div>
</form>
    
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
  
{% endif %}
</div>
</div>
</div>
{% endblock %}
