{% extends "registration/base.html" %}
{% block extrahead %}
    <title>Восстановление пароля</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<div id="panel-wrapper">
<div class="panel panel-primary" id="auth-panel">
<div class="panel-heading">Восстановление пароля</div>
<div class="panel-body">
<p>
На указанный e-mail были отправлены инструкции для восстановления пароля.
</p>
<p>
Если вы не получили письмо, пожалуйста, проверьте, что введенный Вами e-mail совпадает с e-mail, введенным Вами при регистрации. Также просим Вас проверить Вашу спам-папку Вашего почтового ящика.
</p>
</div>
</div>
</div>
{% endblock %}
