{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
<div class="panel panel-default" id="reg-panel">
<div class="panel-heading">Регистрация</div>
<div class="panel-body">   
<p>
Регистрация завершена!
</p>
<p>
На указанный Вами e-mail было выслано письмо с подтверждением.
Срок действия активационной ссылки в письме - 1 день.
</p>
<p>
После активации, Вы сразу же сможете авторизоваться в системе по
ссылке ниже.
</p>
<a id="option-link" href="{% url 'auth_login' %}">
Авторизация
</a>
</form>
</div>
</div>
{% endblock %}
