{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
	<title>Регистрация</title>
{% endblock %}

{% block content %}
<div id="panel-wrapper">
<div class="panel panel-primary" id="reg-panel">
<div class="panel-heading">Регистрация</div>
<div class="panel-body">   
<form method="post" class="form-container"  action="">{% csrf_token %}
{{ form|crispy }}
<input type="submit" value="Зарегистрироваться" class="btn btn-primary">
<a class="option-link" href="{% url 'auth_login' %}">
Авторизация
</a>
</form>
</div>
</div>
</div>
{% endblock %}
