{% extends 'base.html' %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %} 
 <script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
{% endblock %}
{% block content %}
<p>
Ценовые группы 
<a id="price_group_add_link" href = "#" onClick="ModalToggle('{% url 'price_groups_add' event.id %}','{% url 'price_groups_add' event.id %}','#form','Добавление ценовой группы'); return false;" >Добавить</a>
</p>
<table class="table table-bordered">
<tr>
{% for each in price_groups %}
	<td>{{ each }}</td>
{% endfor %}
</tr>
</table>
<table class="table table-hover">
<thead>
	<tr>
		<td>ФИО</td>
		<td>Город</td>
		<td>Школа</td>
		<td>Статус</td>
		<td></td>
	</tr>
</thead>
<tbody>
	{% for each in users  %}
		<tr>
    		<td>
        		<a href="{% url 'common_profile_view_profile' each.user.data.id %}">{{ each.user.data.last_name }} {{ each.user.data.first_name }} {{ each.user.data.middle_name }}</a>        
    		</td>
			<td>
				{{ each.user.data.RegularUser.city }}
    		<td>
				{{ each.user.data.RegularUser.school }}
			</td>
			<td>
    			{{ each.status }}
				{% if each.status == 'одобрена' %}
					({{ each.price_group }})
				{% endif %}
    		</td>
    		<td>
     			{% if accept  %} 
   					{% if each.status == 'в обработке'  %} 
                        <a id="accept_link" href = "#" onClick="ModalToggle('{% url 'events_manage_accept_request' event.id each.id  %}','{% url 'events_manage_accept_request' event.id each.id  %}','#form','Одобрение участника'); return false;" >Одобрить</a>						
                        <br>
        				<a href="{% url 'events_manage_decline_request' event.id each.id %}" > Отказать</a>
					{% else %}
						<a href="{% url 'events_manage_pop_back_request' event.id each.id %}">Вернуть в заявки</a>
					{% endif %}
				{% endif %}
			</td>
    	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
