{% extends 'base.html' %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %} 
 <script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<td>
				<p class="lead">{{ event.name }}</p>
			</td>
			<td></td>
			<td></td>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p>
				<b>Базовая информация
					{% if 'admin' in user_permissions %}
                        <a id="edit_event_link" href = "#" onClick="ModalToggle('{% url 'events_admin_edit' event.id 'base' %}','{% url 'events_admin_edit' event.id 'base' %}','#form','Редактирование '); return false;" >Редактирование</a>
					{% endif %}
				</b>
				</p>
				<p>
					<ul>
						{% if event.is_private %}
							<li>
								Добавление по заявкам
							</li>
						{% endif %}
						{% if event.is_payed %}
							<li>
								Оплачиваемое
							</li>
						{% endif %}
					</ul>
				<p>Открытие: {{ event.opened }}</p>
				<p>Закрытие: {{ event.closed }}</p>
				<p>Место проведения: {{ event.place }}</p>
				<p>Комментарий: {{ event.comment|linebreaks }}</p>
			</td>
			<td>
				{% if 'regular' in user_permissions %}
					{% if rq %}
						<p>
							Информация о заявке:
							{{ rq.status }}
							{% if rq.status == 'в обработке' %}
							<b>
							<a href="
						 {% url 'events_manage_undo_request' event.id rq.id %}">
								Отменить
							</a>
							</b>
							{% endif %}
						</p>
					{% else %}
						<p>
							<a href="#" onClick="linkWrapper('{% url 'events_manage_place_request' event.id %}','{{ request.path }}')">
								Подать заявку
							</a>
						</p>
					{% endif %}
				{% endif %}
				{% if 'event_worker' in user_permissions %}
        			<p>
					<a href="#" onClick="linkWrapper('{% url 'events_manage_choose_users' event.id 'teacher' %}','{{ request.path }}')">
						Пригласить учителей
					</a>
					</p>
					<p>
       				<a href="#" onClick="linkWrapper('{% url 'events_manage_choose_users' event.id 'mentor'%}','{{ request.path }}')">
						Пригласить воспитателей
					</a>
					</p>
        			<p>
        			<a href="#" onClick="linkWrapper('{% url 'events_manage_choose_users' event.id 'observer' %}','{{ request.path }}')">
						Пригласить наблюдателей
					</a>
					</p>		
        			<p>
					
                    <a id="email_template_link" href = "#" onClick="ModalToggle('{% url 'events_manage_create_acceptance_email_template' event.id %}','{% url 'events_manage_create_acceptance_email_template' event.id %}','#form','Шаблон письма подтверждения'); return false;" >Редактирование шаблона письма подтверждения</a>
					</p>
					<p>
				{% endif %}
				{% if 'admin' in user_permissions %}
					<p>
					<a href="#" onClick="linkWrapper('{% url 'events_admin_deactivate' event.id %}','{{ request.path }}')">
						{% if event.is_active %}
							Заморозить
						{% else %}
							Разморозить
						{% endif %}
					</a>
					{% if not event.is_active %}
						<br>
						<font color = "red">Заморожено</font>
					{% endif %}
					</p>
				{% endif %}

			</td>
		</tr>
		<tr>
			<td>
				{% if event.is_journey %}
					<p>
					<b>Информация о поездке
						{% if 'admin' in user_permissions %}
                            <a id="journey_edit_link" href = "#" onClick="ModalToggle('{% url 'events_admin_edit' event.id 'journey' %}','{% url 'events_admin_edit' event.id 'journey' %}','#form','Редактирование информаци о поездке'); return false;" >Редактировать</a>
						{% endif %}
					</b>
					</p>
					<p>Время отъезда: {{ event.JourneyData.departure_time }}</p>
					<p>Информация: {{ event.JourneyData.info|linebreaks }}</p>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
