{% extends 'base.html' %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% block extrahead %}
    <title>Назначение персонала</title>
{% endblock %}

{% block content %}
{% if free_users or not_free_users %}
<table class="table table-hover">
<thead>
	<tr>
		<td width=40%>
			ФИО
		</td>
		<td width=25%>
			E-mail
		</td>
		<td width=20%>
			Статус
		</td>
		<td width=15%>
		</td>
	</tr>
</thead>
<tbody>
{% for each in not_free_users %}
<tr class="info">
    <td>
        <a href="#" onClick="linkWrapper('{% url 'common_profile_view_profile' each.data.id %}','{{ request.path }}')">
			{{ each.data.last_name }} {{ each.data.first_name }} {{ each.data.middle_name }}
		</a>        
    </td>
	<td>
		{{ each.data.user.email }}
    </td>
	<td>
    	Приглашен
	</td>
	<td>
        <a href="#" onClick="linkWrapper('{% url 'events_manage_exclude' event.id each.data.id role %}','{{ request.path }}')">
			Отменить
		</a>
	</td>
</tr>
{% endfor %}
{% for each in free_users %}
<tr>
    <td>
        <a href="#" onClick="linkWrapper('{% url 'common_profile_view_profile' each.data.id %}','{{ request.path }}')">
			{{ each.data.last_name }} {{ each.data.first_name }} {{ each.data.middle_name }}
		</a>        
    </td>
	<td>
		{{ each.data.user.email }}
    </td>
    <td>
    	Свободен
	</td>
	<td>
        <a href="#" onClick="linkWrapper('{% url 'events_manage_invite' event.id each.data.id role %}','{{ request.path }}')">
			Пригласить
		</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p class="lead">Список персонала пуст</p>
{% endif %}
{% endblock %}
