{% extends 'base.html' %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% block content %}
<table class="table table-hover">
<thead>
	<tr>
		<td>
			ФИО
		</td>
		<td>
			Статус
		</td>
		<td>
		</td>
	</tr>
</thead>
<tbody>
{% for each in not_free_users %}
<tr>
    <td>
        <a href="{% url 'common_profile_view_profile' each.data.id %}">
			{{ each.data.last_name }} {{ each.data.first_name }} {{ each.data.middle_name }}
		</a>        
    </td>
    <td>
    	Приглашен
	</td>
	<td>
        <a href="
			{% url 'events_manage_exclude' event.id each.data.id role %}
		">
			Отменить
		</a>
	</td>
</tr>
{% endfor %}
{% for each in free_users %}
<tr>
    <td>
        <a href="{% url 'common_profile_view_profile' each.data.id %}">
			{{ each.data.last_name }} {{ each.data.first_name }} {{ each.data.middle_name }}
		</a>        
    </td>
    <td>
    	Свободен
	</td>
	<td>
        <a href="{% url 'events_manage_invite' event.id each.data.id role %}" >
			Пригласить
		</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
