{% extends 'base.html' %}
{% block content %}
<table>
	<thead>
		<tr>
			<td width=40%>
				<p>{{ event.name }}</p>
			</td>
			<td width=20%></td>
			<td width=40%></td>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p>
				Базовая информация
					{% if 'admin' in user_permissions %}
						<a href="
							{% url 'events_admin_edit' event.id 'base' %}
						">
							Редактировать
						</a>
					{% endif %}
				</p>
				<p>
					<ul>
						{% if event.is_private %}
							<li>
								Приватное
							</li>
						{% endif %}
						{% if event.is_payed %}
							<li>
								Оплачиваемое
							</li>
						{% endif %}
					</ul>
				<p>Открытие: {{ event.opened }}</p>
				<p>Закрытие: {{ event.closed }}</p>
				<p>Место проведения: {{ event.place }}</p>
				<p>Комментарий: {{ event.comment }}</p>
				{% if event.is_journey %}
					<p>
						Информация о поездке
						{% if 'admin' in user_permissions %}
							<a href="
								{% url 'events_admin_edit' event.id 'journey' %}
							">
								Редактировать
							</a>
						{% endif %}
					</p>
					<p>Время отъезда: {{ event.JourneyData.departure_time }}</p>
					<p>Информация: {{ event.JourneyData.info }}</p>
				{% endif %}
			</td>
			<td>
				{% if 'event_worker' in user_permissions %}
        			<p>
					<a href="
					{% url 'events_manage_choose_users' event.id 'teacher' %}
					">
						Пригласить учителей
					</a>
					</p>
					<p>
       				<a href="
					{% url 'events_manage_choose_users' event.id 'mentor'%}
					">
						Пригласить воспитателей
					</a>
					</p>
        			<p>
        			<a href="
					{% url 'events_manage_choose_users' event.id 'observer' %}
					">
						Пригласить наблюдателей
					</a>
					</p>		
        			<p>
					<a href="
					{% url 'events_manage_create_acceptance_email_template' event.id %}
					">
						Шаблон письма подтверждения
					</a>
					</p>
					<p>
				{% endif %}
				{% if 'admin' in user_permissions %}
					<p>
					<a href="{% url 'events_admin_deactivate' event.id %}">
						{% if event.is_active %}
							Заморозить
						{% else %}
							Разморозить
						{% endif %}
					</a>
					{% if not event.is_active %}
						<br>
						<font color = "red">Заморожено</font>
					{% endif %}
					</p>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
