{% extends 'base.html' %}
{% block content %}
{{ name }}
<table>
<tr>
    <td>
        <a href="{% url 'events_show_users' event_id 'Teacher' %}">Пригласить учителей</a>
        <p>
        <a href="{% url 'events_show_users' event_id 'Mentor'%}">Пригласить воспитателей</a>
        <p>
        <a href="{% url 'events_show_users' event_id 'RegularUser' %}">Пригласить учеников</a>
        <a href="{% url 'events_show_users' event_id 'Observer' %}">Пригласить наблюдателей</a>
    </td>
    <td>
        <a href="{% url 'price_groups_show' event_id %}">Управление ценовыми группами</a>
        <a href="{% url 'create_acceptance_email_template' event_id %}">Создать шаблон письма</a>
    </td>
</tr>
<tr>
    <td>
        <a href="{% url 'events_show_requests' event_id  %}">Управление завками </a>
    </td>
</tr>    
</table>
{% endblock %}
