{% extends 'base.html' %}
{% block content %}
<table>
{% for each in users  %}
<tr>
    <td>
        {{ each.user.UserData }}
        <a href="{% url 'common_profile_view_profile' each.user.data.id %}">{{ each.user.data.last_name }} {{ each.user.data.first_name }} {{ each.user.data.middle_name }}</a>        
    </td>
    <td>
    {{ each.status }}
    </td>
    <td>
       {% if accept  %} 
       {% if each.status != 'Accepted'  %} 
        <a href="{% url 'events_accept_request' each.id %}" > Одобрить</a>
       {% else %}
        <a href="{% url 'decline_request' each.id %}" > Отказать</a>
       {% endif %}
       {% endif %}
    </td>
    
    
</tr>
{% endfor %}
</table>
{% endblock %}
