<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css"  href="{% static 'external/bootstrap/css/bootstrap.min.css' %}"/>

    <script type="text/javascript"  src="{% static 'external/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/common.js' %}"></script>

    <script type="text/javascript" src="{% static 'external/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/jquery.timepicker.css' %}"/>

    <script type="text/javascript" src="{% static 'external/js/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/bootstrap-datepicker.css' %}"/>

    <script type="text/javascript"  src="{% static 'journal/js/journal_subjects.js' %}"></script>

    <style type="text/css">
        .datepicker{
            z-index: 1100 !important;
        }
    </style>

</head>
<body>
    <table border="2px">
        <thead>
            <tr>
                <td></td>
                <td>Предмет</td>
            </tr>
        </thead>
        <tbody id="subject_list">
        </tbody>
    </table>

    <button id="call_add_subject_button">Добавить</button>

    <div id="add_window" hidden="hidden">
        <input id="new_subject_title" placeholder="Название предмета" value=""/>
    </div>

    <input type="hidden" id="event_id" value="{{ event.id }}"/>
</body>
</html>
{% endblock %}
