<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block journal_menu %}
	{% include 'journal_menu.html' %}
{% endblock %}
{% block extrahead %}
    <title>Предметы</title>

    <link rel="stylesheet" type="text/css"  href="{% static 'external/bootstrap/css/bootstrap.min.css' %}"/>

    <script type="text/javascript" src="{% static 'external/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/jquery.timepicker.css' %}"/>

    <script type="text/javascript"  src="{% static 'journal/js/journal_subjects.js' %}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}

    <table class="table table-hover">
        <thead>
            <tr>
                <td width=5%></td>
                <td>Предмет</td>
            </tr>
        </thead>
        <tbody id="subject_list">
        </tbody>
    </table>

    <button id="call_add_subject_button" class="btn btn-primary">Добавить</button>

    <div id="add_window" hidden="hidden">
        <input class="form-control" id="new_subject_title" placeholder="Название предмета" value=""/>
    </div>

    <input type="hidden" id="event_id" value="{{ event.id }}"/>
{% endblock %}
