<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% block extrahead %}
    <title>Оценки</title>

    <script type="text/javascript" src="{% static 'external/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/jquery.timepicker.css' %}"/>

    <script type="text/javascript"  src="{% static 'journal/js/journal_pupil_marks.js' %}"></script>

{% endblock %}
{% block content %}
{% csrf_token %}

    <div id="date_container">
        <label for="from">С</label>
        <input type="text" id="from" name="from" autocomplete="off">
        <label for="to">по</label>
        <input type="text" id="to" name="to" autocomplete="off">
    </div>
<div>
<table id="journal-left-wrapper-table" class="table">
<tr>
	<td width=20%>
	<table class="table table-bordered table-striped journal-left-table">
        <thead>
            <tr>
                <td><br></td>
            </tr>
        </thead>
        <tbody id="subjects_list">
        </tbody>
    </table>
	</td>
	<td>
    <div style="overflow:auto;">
        <table class="table table-bordered table-striped journal-left-table-resized">
            <thead id="lessons_dates">
                <tr>
                </tr>
            </thead>
            <tbody id="lessons_list">
            </tbody>
        </table>
    </div>
	</td>
</tr>
</table>
</div>


    <input type="hidden" id="event_id" value="{{ event.id }}"/>
    <input type="hidden" id="event_start_date" value="{{ event.opened|date:"d.m.Y" }}"/>
    <input type="hidden" id="event_end_date" value="{{ event.closed|date:"d.m.Y" }}"/>

{% endblock %}
