<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block event_menu %}
    {% include 'event_menu.html' %}
{% endblock %}
{% block extrahead %}
    <title>Темы занятий</title>

    <script type="text/javascript" src="{% static 'external/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/jquery.timepicker.css' %}"/>

    <script type="text/javascript" src="{% static 'external/js/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/bootstrap-datepicker.css' %}"/>

    <script type="text/javascript"  src="{% static 'journal/js/journal_teacher_right.js' %}"></script>

    <style type="text/css">
        .datepicker{
            z-index: 1100 !important;
        }
    </style>
{% endblock %}
{% block content %}
{% csrf_token %}

    <div id="date_container" class="form-inline form-group">
        <label for="from">From</label>
        <input type="text" class="form-control" id="from" name="from" autocomplete="off">
        <label for="to">to</label>
        <input type="text" class="form-control" id="to" name="to" autocomplete="off">
    </div>

	<div class="form-inline form-group">
    <div id="group_select_container" class="form-group">
        <label for="group_list">Group</label>
		<select size="1" class="form-control" id="group_list" style="width: 200px">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.label }}</option>
        {% endfor %}
        </select>
    </div>
    <div id="subject_select_container" class="form-group">
        <label for="subject_list">Subject</label>
        <select size="1" class="form-control" id="subject_list" style="width: 200px">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
        {% endfor %}
        </select>
    </div>
	</div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td width=3%></td>
                <td>Дата</td>
                <td>Время начала</td>
                <td>Время конца</td>
                <td>Аудитория</td>
                <td>Тема</td>
                <td style='display:none;'></td>
                <td>Домашнее задание</td>
                <td style='display:none;'></td>
                <td width=3%></td>
            </tr>
        </thead>
        <tbody id="lessons_list">
        </tbody>
    </table>

    <div id="edit_window" hidden="hidden">

        <div id="date_container" class="form-group">
            <label for="lesson_date">Date</label>
            <input disabled="disabled" class="form-control" type="text" id="lesson_date" name="lesson_date" autocomplete="off">
        </div>

        <div id="time_container" class="form-group form-inline">
            <input disabled="disabled" class="form-control" id="start_time" type="text" class="time ui-timepicker-input" autocomplete="off">
            <input disabled="disabled" class="form-control" id="end_time" type="text" class="time ui-timepicker-input" autocomplete="off">
        </div>
		<div class="form-group">
        <label for="lesson_place">Place</label>
        <input disabled="disabled" class="form-control" id="lesson_place" type="text">
		</div>
		<div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" type="text">
		</div>
		<div class="form-group">
        <label for="comment">Comment</label>
        <textarea rows="4" cols="50" class="form-control" id="comment"></textarea>
		</div>

    </div>

    <div id="edit_homework_window" class="form-group" hidden="hidden">

        <label for="task">Task</label>
        <input id="task" class="form-control" type="text">

        <label for="comment">Comment</label>
        <textarea rows="4" class="form-control" cols="50" id="comment"></textarea>

    </div>

    <input type="hidden" id="event_id" value="{{ event.id }}"/>
    <input type="hidden" id="event_start_date" value="{{ event.opened|date:"d.m.Y" }}"/>
    <input type="hidden" id="event_end_date" value="{{ event.closed|date:"d.m.Y" }}"/>
{% endblock %}
