<!DOCTYPE html>
{% extends 'base.html' %}
{% block journal_menu %}
	{% include 'journal_menu.html' %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <title>Расписание занятий</title>
    <script type="text/javascript" src="{% static 'external/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/css/jquery.timepicker.css' %}"/>

    <script type="text/javascript"  src="{% static 'journal/js/journal_admin.js' %}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}

    <div id="date_container" class="form-inline form-group">
        <label for="from">С</label>
        <input type="text" class="form-control" style="width: 200px" id="from" name="from" autocomplete="off">
        <label for="to">по</label>
        <input type="text" class="form-control" id="to" name="to" style="width: 200px" autocomplete="off">
	</div>
    <div id="group_select_container" class="form-inline form-group">
		<label for="group_list">Группа: </label>
        <select size="1" id="groups_list" class="form-control" style="width: 200px">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.label }}</option>
        {% endfor %}
        </select>
	</div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td width=5%></td>
                <td>Дата</td>
                <td>Время начала</td>
                <td>Время конца</td>
                <td>Группа</td>
                <td>Предмет</td>
                <td>Преподаватель</td>
                <td>Аудитория</td>
            </tr>
        </thead>
        <tbody id="lessons_list">
        </tbody>
    </table>

    <button class="btn btn-primary" id="call_add_lesson_button">Добавить</button>

    <div id="add_window" hidden="hidden">

        <div id="date_container" class="form-group">
            <label for="lesson_place">Место</label>
            <input type="text" class="form-control" id="lesson_date" name="lesson_date" autocomplete="off">
        </div>

        <div id="time_container" class="form-group form-inline">
            <label for="start_time">Время</label>
            <input id="start_time" type="text" class="time ui-timepicker-input form-control" autocomplete="off">
            <input id="end_time" type="text" class="time ui-timepicker-input form-control" autocomplete="off">
        </div>

        <div id="subject_select_container" class="form-group form-inline">
            <select size="1" id="subject_list" class="form-control" style="width: 200px">
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
            </select>
            <select size="1" id="teacher_list" class="form-control" style="width: 200px">
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.data }}</option>
                {% endfor %}
            </select>
        </div>
		<div class="form-group">
        	<label for="lesson_place">Место</label>
        	<input id="lesson_place" class="form-control" type="text">
        </div>
		<div id="repeat_group" class="form-group hide">
			<div class="form-group form-inline">
				<label for="repeat_box">Повторять</label>
            	<input id="repeat_box" class="checkbox" type="checkbox">
            </div>
			<div class="form-group form-inline">
				<select size="1" id="repeat_list" class="form-control hide" style="width: 200px">
    	            <option value="1">Каждый день</option>
       	    	    <option value="7">Каждую неделю</option>
       		    </select>
       	   	    <select size="1" id="until_list" class="form-control hide" style="width: 200px">
                	<option value="1">до конца события</option>
                	<option value="2">в количестве</option>
         	    </select>
           	    <select size="1" id="times_list" class="form-control hide" style="width: 100px">
                </select>
			</div>
        </div>
    </div>

    <input type="hidden" id="event_id" value="{{ event.id }}"/>
    <input type="hidden" id="event_start_date" value="{{ event.opened|date:"d.m.Y" }}"/>
    <input type="hidden" id="event_end_date" value="{{ event.closed|date:"d.m.Y" }}"/>
{% endblock %}
