<!DOCTYPE html>
{% load i18n %}
{% load custom_template_filters %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'markup.css' %}">
	<link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'external/bootstrap/css/bootstrap.min.css' %}"/>
    <script type="text/javascript"  src="{% static 'external/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	{% block extrahead %}{% endblock %}
</head>

<body>
    
	<div id="container">
		<div id="top">
			{% if  user.is_authenticated %}
			<!--
			<font color="white">
			Ваш логин:
			</font>
			<font color="blue">{{ user }}</font>,
			Вы обладаете следующими правами:
			{% for each in user_permissions %}
				<font color="red">{{ perms_to_language|get_item:each }}</font>
				{% if not forloop.last %},{% endif %}
			{% endfor %}
			--!>
			{% endif %}
		</div>
		
		<div id="org_info">
			<div id="org_title">
				{{ organisation_settings.title }}
			</div>
		</div>
		<div id="navigation">
			{% block main_menu %}{% endblock %}
			{% block event_menu %}{% endblock %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="clear">
		</div>

		<div id="footer">
			Footer
		</div>

	</div>
<script src="{% static 'toggle_modal.js' %}"></script>	
</body>
</html>
