<!DOCTYPE html>
{% load i18n %}
{% load custom_template_filters %}
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'markup.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
	<script src="{% static 'ajax_form.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
	{% block extrahead %}{% endblock %}
</head>

<body>
    
	<div id="container">
		<div id="top">
			Ваш логин: <font color="blue">{{ user }}</font>,
			Вы обладаете следующими правами:
			{% for each in user_permissions %}
				<font color="red">{{ perms_to_language|get_item:each }}</font>
				{% if not forloop.last %},{% endif %}
			{% endfor %}
		</div>
		
		<div id="org_info">
			<div id="org_title">
				{{ organisation_settings.title }}
			</div>
		</div>
		
		<div id="navigation">
            <ul id="main_menu">
                <li><a href="{% url 'news_main' %}">Новости </a> </li>
                <li><a href="{% url 'view_profile'  user.id %}">Профиль</a></li>
                {% if user.UserData.Admin.is_active %}
					<li>
						<a href="{% url 'schools_show_unproved' %}">Школы</a>
					</li>
				
                	<li>
						<a href="{% url 'show_all_staff_members' %}">
							Управление персоналом 
						</a>
					</li>
				{% endif %}
            </ul>
		</div>

		<div id="sidebar">
			{% block sidebar %}
			<ul>
				Sidebar<br>
            	<a href="{% url 'events_admin_index' %}">События</a>
			</ul>
			{% endblock %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="clear">
		</div>

		<div id="footer">
			Footer
		</div>

	</div>
<script src="{% static 'toggle_modal.js' %}"></script>	
</body>
</html>
