<!DOCTYPE html>
{% load i18n %}
{% load custom_template_filters %}
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'markup.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <link rel="stylesheet" type="text/css"  href="{% static 'external/bootstrap/css/bootstrap.min.css' %}"/>
    <script type="text/javascript"  src="{% static 'external/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	{% block extrahead %}{% endblock %}
</head>

<body>
    
	<div id="container">
		<div id="top">
			{% if  user.is_authenticated %}
			Ваш логин: <font color="blue">{{ user }}</font>,
			Вы обладаете следующими правами:
			{% for each in user_permissions %}
				<font color="red">{{ perms_to_language|get_item:each }}</font>
				{% if not forloop.last %},{% endif %}
			{% endfor %}
			{% endif %}
		</div>
		
		<div id="org_info">
			<div id="org_title">
				{{ organisation_settings.title }}
			</div>
		</div>
		{% url 'news_main' as news_main %}
        {% url 'common_profile_view_profile' user.id as common_profile_view_profile %}
        {% url 'schools_show_unproved' as schools_show_unproved %}
        {% url 'user_manager_show_all' as user_manager_show_all %}
		<div id="navigation">
            <ul id="main_menu" class="nav nav-pills nav-justified">
				<li {% if request.path == news_main %}class="active" {% endif %}>
					<a href="{{ news_main }}">Новости </a>
				</li>
                {% if  user.is_authenticated %}
                	<li {% if request.path == common_profile_view_profile %}class="active" {% endif %}>
						<a href="{{ common_profile_view_profile }}">
							Профиль
						</a>
					</li>
       	        	{% if user.UserData.Admin.is_active %}
						<li {% if request.path == schools_show_unproved %}class="active" {% endif %}>
							<a href="{{ schools_show_unproved }}">Школы</a>
						</li>
            	        <li {% if request.path == user_manager_show_all %}class="active" {% endif %}>
							<a href="{{ user_manager_show_all }}">
								Управление персоналом 
							</a>
						</li>
					{% endif %}
            	{% endif %}
			</ul>
			{% block event_menu %}{% endblock %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="clear">
		</div>

		<div id="footer">
			Footer
		</div>

	</div>
<script src="{% static 'toggle_modal.js' %}"></script>	
</body>
</html>
