{% url 'events_manage_main' event.id as events_manage_main %}
{% url 'events_manage_show_requests' event.id as events_manage_show_requests %}
{% url 'study_groups_index' event.id as study_groups_index %}
{% url 'events_manage_show_results' event.id as events_manage_show_results %}
{% url 'journal_index' event.id as journal_index %}
{% url 'journal_schedule_index' event.id as schedule_index %}

{% block event_menu %}
<ul id="event_menu" class="nav nav-tabs nav-justified">
	<li>
		<a href="#" onClick="linkWrapper('{% url 'news_main' %}','{{ request.path }}')">Домой</a>
	</li>
	<li {% if request.path == events_manage_main %}class="active" {% endif %}>
		<a href="#" onClick="linkWrapper('{{ events_manage_main }}','{{ request.path }}')">Главная</a>
	</li>
<li><a href="#">Новости</a></li>

{% if 'event_worker' in user_permissions %}
<li {% if request.path == events_manage_show_requests %} class="active" {% endif %}>
	<a href="#" onClick="linkWrapper('{{ events_manage_show_requests }}','{{ request.path }}')">Заявки</a>
</li>
{% endif %}

<li><a href="#" onClick = "linkWrapper('{{ schedule_index }}','{{ request.path }}')">Расписание</a></li>

{% if 'regular' in user_permissions or 'admin' in user_permissions or 'teacher' in user_permissions or 'observer' in user_permissions or 'event_worker' in user_permissions %}
	{% if event.has_journal %}
		<li {% if request.path == journal_index %} class="active" {% endif %}>
			<a href="#" onClick="linkWrapper('{{ journal_index }}','{{ request.path }}')">Журнал</a>
		</li>
	{% else %}
		<li {% if request.path == events_manage_show_results %}class="active" {% endif %}>
		<a href="#" onClick="linkWrapper('{{ events_manage_show_results }}','{{ request.path }}')">Результаты</a></li>
	{% endif %}
{% endif %}

{% if 'admin' in user_permissions or 'event_worker' in user_permissions or 'teacher' in user_permissions or 'observer' in user_permissions %}
   <li {% if request.path == study_groups_index %} class="active" {% endif %}>
   <a href="#" onClick="linkWrapper('{{ study_groups_index }}','{{ request.path }}')">Учебные группы</a>
{% endif %}

</ul>
{% endblock %}
