    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-title">
                	<a href="#">Текущие события</a>
				</li>
                {% if 'admin' in user_permissions %}
                <li class="sidebar-title">
                    <a href="{% url 'events_admin_event_wizard' %}">Добавить событие</a>
				</li>
				{% endif %}
				{% for each in active_events %}
					<li>
						<a href="{% url 'events_manage_main' each.id %}">
							{{ each.name }}
						</a>
					</li>
				{% endfor %}
                <li class="sidebar-title">
                	<a href="#">Архив</a>
				</li>
				{% for year, events in archive_events_by_year.items %}
				{% if events %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  	{{ year }}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
				  {% for each in events %}
					<li>
						<a href="{% url 'events_manage_main' each.id %}">
							{{ each.name }}
						</a>
					</li>
				  {% endfor %}
                  </ul>
                </li>
				{% endif %}
				{% endfor %}
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
