{% extends 'base.html' %}
{% block content %}
<table>
	<tr>
		{% for each in schools %}
			<td>
				{{ each.name }}<br>
				{{ each.city }}<br>
				{{ each.country }}<br>
				<a href="{% url 'schools_edit' each.id %}">
					Редактировать и подтвердить
				</a>
				<br>
				<a href="{% url 'schools_approve' each.id %}">Подтвердить</a>
			</td>
			{% if forloop.counter|divisibleby:"3" %}
				</tr><tr>
			{% endif %}
		{% empty %}
			<td>
				Нет записей!
			</td>
		{% endfor %}
	</tr>
</table>
{% endblock %}
