{% extends 'base.html' %}
{% block content %}
{% if schools %}
<table>
	<thead>
		<tr>
			<td width=25%>Название</td>
			<td width=25%>Город</td>
			<td width=25%>Страна</td>
			<td width=25%></td>
		</tr>
	</thead>
	<tbody>
	{% for each in schools %}
		<tr>
			<td>{{ each.name }}</td>
			<td>{{ each.city }}</td>
			<td>{{ each.country }}</td>
			<td>
				<a href="{% url 'schools_edit' each.id %}">
					Редактировать и подтвердить
				</a>
				<br>
				<a href="{% url 'schools_approve' each.id %}">Подтвердить</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
	Нет записей
{% endif %}
{% endblock %}
