{% extends 'base.html' %}
{% load staticfiles %}
{% block main_menu %}
	{% include 'main_menu.html' %}
{% endblock %}
{% block extrahead %}
 <script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
{% endblock %}
{% block content %}
{% if schools %}
<table class="table table-hover">
	<thead>
		<tr>
			<td width=25%>Название</td>
			<td width=25%>Город</td>
			<td width=25%>Страна</td>
			<td width=25%></td>
		</tr>
	</thead>
	<tbody>
	{% for each in schools %}
		<tr>
			<td>{{ each.name }}</td>
			<td>{{ each.city }}</td>
			<td>{{ each.country }}</td>
			<td>				
                <a id="school_edit_link" href = "#" onClick="ModalToggle('{% url 'schools_edit' each.id %}','{% url 'schools_edit' each.id %}','#form','Редактирование'); return false;" >Редактировать и подтвердить</a>
				<br>
				<a href="#" onClick="linkWrapper('{% url 'schools_approve' each.id %}','{{ request.path }}')">Подтвердить</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
	Нет записей
{% endif %}
{% endblock %}
