{% extends "base.html" %}
{% load custom_template_filters %}
{% load staticfiles %}
{% block extrahead %} 
 <script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<td width=10%></td>
			<td width=25%>
                
				Базовая информация
    			{% if edit_perm == True %}
					<a id="userdata_edit_link" href = "#" onClick="ModalToggle('{% url 'userdata_edit' %}','{% url 'userdata_edit' %}','#userdata_form','Базовая информация'); return false;" >Редактировать</a>
				{% endif %}
			</td>
			<td width=25%>
				Документы
    			{% if edit_perm == True %}
					<a href = "{% url 'userdata_document_wizard' %}">
						Добавить/обновить
					</a>
				{% endif %}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
    		<td>
        		<img src="{{ base_data.avatar }}"/> 
    		</td>
   			<td>
        		<p>
					ФИО:<br>
					<b>
					{{ base_data.last_name }}
					{{ base_data.first_name }}
					{{ base_data.middle_name }}
					</b>
				</p>
        		<p>
					Телефон:<br>
					<b>
					{{ base_data.phone }}
					</b>
				</p>
    		</td>
			<td>
				<p>
					{% for each in documents %}
						{{ each }}<br>
					{% endfor %}
				</p>
			</td>
</tr>
</tbody>
</table>

{% for role,fields in additional_data.items %}
<table class="table table-bordered">
	<tbody>
    		{% if fields %}
			<tr>
				<td width=25%>
					<p>
					{{ perms_to_language|get_item:role }}
        			{% if edit_perm == True %}
                        <a id="common_profile_edit_link" href = "#" onClick="ModalToggle('{% url 'common_profile_edit' role %}','#form','Специальная информация'); return false;" >Редактировать</a>
       				{% endif %}
					</p>
				</td>
				<td width=25%></td>
				<td width=25%></td>
			</tr>
			<tr>
			{% for key, value in fields.items %}
				<td> {{ key }} : {% if value %} {{ value }} {% endif %}</td>
				{% if forloop.counter|divisibleby:"3" %}
					</tr><tr>
				{% endif %}
			{% endfor %}
   			</tr>
			{% endif %}
	</tbody>
</table>	
{% endfor %}



{% endblock %}





