{% extends "base.html" %}
{% load custom_template_filters %}
{% block extrahead %} 
<script>
function ModalToggle(){
    var content = $("#userdata_form").clone();
    content.removeAttr("hidden");
    var modal = new Modal();
    modal.setTitle("Базовая информация");
    modal.getContentElement().append(content);
    modal.setButtons([
                        {
                            label:'Сохранить',
                            callback:function(){
                                content.submit();
                                modal.hide();
                                modal.destroy();
                            }
                        },
                        {
                            label:"Закрыть",
                            callback:function(){
                                modal.hide();
                                modal.destroy();
                            }
                        }
    ])
    modal.show();
}
</script>
{% endblock %}
{% block content %}
<table>
	<thead>
		<tr>
			<td width=10%></td>
			<td width=25%>
				Базовая информация
    			{% if edit_perm == True %}
					<a href = "#" onclick=ModalToggle()>Редактировать</a>
				{% endif %}
			</td>
			<td width=25%>
				Документы
    			{% if edit_perm == True %}
					<a href = "{% url 'userdata_document_wizard' %}">
						Добавить/обновить
					</a>
				{% endif %}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
    		<td>
        		<img src="{{ base_data.avatar }}"/> 
    		</td>
   			<td>
        		<p>
					ФИО:<br>
					<b>
					{{ base_data.last_name }}
					{{ base_data.first_name }}
					{{ base_data.middle_name }}
					</b>
				</p>
        		<p>
					Телефон:<br>
					<b>
					{{ base_data.phone }}
					</b>
				</p>
    		</td>
			<td>
				<p>
					{% for each in documents %}
						{{ each }}<br>
					{% endfor %}
				</p>
			</td>
</tr>
</tbody>
</table>

<table>
	<tbody>
		{% for role,fields in additional_data.items %}
    		{% if fields %}
			<tr>
				<td width=25%>
					<p>
					{{ perms_to_language|get_item:role }}
        			{% if edit_perm == True %}
            			<a href = "{% url 'common_profile_edit' role %}">
							Редактировать
						</a>
       				{% endif %}
					</p>
				</td>
				<td width=25%></td>
				<td width=25%></td>
			</tr>
			<tr>
			{% for key, value in fields.items %}
				<td> {{ key }} : {{ value }} </td>
				{% if forloop.counter|divisibleby:"3" %}
					</tr><tr>
				{% endif %}
			{% endfor %}
   			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>	



{% endblock %}





