{% extends "base.html" %}
{% load custom_template_filters %}
{% block content %}
<table>
	<thead>
		<tr>
			<td width=10%></td>
			<td width=25%>
				Базовая информация
    			{% if edit_perm == True %}
					<a href = "{% url 'userdata_edit' %}">Редактировать</a>
				{% endif %}
			</td>
			<td width=25%>
				Документы
    			{% if edit_perm == True %}
					<a href = "{% url 'add_userdata_document' %}">
						Добавить/обновить
					</a>
				{% endif %}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
    		<td>
        		<img src="{{ base_data.avatar }}"/> 
    		</td>
   			<td>
        		<p>
					ФИО:<br>
					<b>
					{{ base_data.last_name }}
					{{ base_data.first_name }}
					{{ base_data.middle_name }}
					</b>
				</p>
        		<p>
					Телефон:<br>
					<b>
					{{ base_data.phone }}
					</b>
				</p>
    		</td>
			<td>
				<p>
					{% for each in documents %}
						{{ each }}<br>
					{% endfor %}
				</p>
			</td>
</tr>
</tbody>
</table>

<table>
	<tbody>
		{% for role,fields in additional_data.items %}
    		{% if fields %}
			<tr>
				<td width=25%>
					<p>
					{{ perms_to_language|get_item:role }}
        			{% if edit_perm == True %}
            			<a href = "{% url 'edit_common' role %}">
							Редактировать
						</a>
       				{% endif %}
					</p>
				</td>
				<td width=25%></td>
				<td width=25%></td>
			</tr>
			<tr>
			{% for key, value in fields.items %}
				<td> {{ key }} : {{ value }} </td>
				{% if forloop.counter|divisibleby:"3" %}
					</tr><tr>
				{% endif %}
			{% endfor %}
   			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>	

{% endblock %}





