
<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% block content %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css"  href="{% static 'external/bootstrap/css/bootstrap.min.css' %}"/>

    <script type="text/javascript"  src="{% static 'external/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript"  src="{% static 'study_groups/js/study_groups.js' %}"></script>
</head>
<body>
    <div id="group_select_container">
        <select size="1" id="group_list" style="width: 200px">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.label }}</option>
        {% endfor %}
        </select>
    </div>
    <table border="2px">
        <thead>
            <tr>
                <td>
                    В Группе
                </td>
                <td></td>
                <td>
                    Не в группе
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select size="10" id="pupils_list_in" style="width: 200px">
                    </select>
                </td>
                <td>
                    <button id="add_to_group_button"><--</button>
                    <button id="remove_from_group_button">--></button>
                </td>
                <td valign="top" width="200px">
                    <select size="10" id="pupils_list_out" style="width: 200px">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="call_add_group_button">Добавить</button>
    <button id="call_delete_group_button">Удалить</button>

    <div id="add_window" hidden="hidden">
        <input id="new_group_title" placeholder="Название группы" value=""/>
    </div>
    <input type="hidden" id="event_id" value="{{ event_id }}"/>
</body>
</html>
{% endblock %}
