thead {
    font-weight:bold;
}

#logout-a {
	color: white;
	margin-right: 40px;
}

#panel-wrapper {
	position: absolute;
	top: 20%; left: 0; right: 0; 
}

#reg-panel {
	margin : 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	width : 25%;
	display: table;
}

#auth-panel {
	margin : 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	width : 25%;
	display: table;
}

.option-link {
	float: right;
}
