thead {
    font-weight:bold;
}

.mark_input_cell {
	width: 40px
}

.mark_input {
	width: 40px;
}

.td-centered {
	vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	text-align: center; 
	vertical-align: middle;
}

.journal-left-table tr{
	height: 50px;
}

.div-centered {
	display: block;
	margin: auto;
}

.top-menu-link {
	float: right;
	color: white;
	margin-right: 40px;
}

#panel-wrapper {
	position: absolute;
	top: 20%; left: 0; right: 0; 
}

#reg-panel {
	margin : 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	width : 25%;
	display: table;
}

#auth-panel {
	margin : 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	width : 25%;
	display: table;
}

.option-link {
	float: right;
}

span.glyphicon {
    font-size: 1.5em;
}

span.glyphicon-remove {
    color: red;
}