html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS, Arial, Times New Roman;
}

#container {
	margin: auto;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%
}

#top_menu{
	height: 50px;
	width: 100%;
	background: #aaaaaa;
}

#org_info{
	width: 80%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background: #e2e2e2;
}

#org_title{
	width: 80%;
	height: 100px;
	margin: auto;
	line-height: 100px;
	text-align: center;
	font-size: 25px;
}

#navigation{
	width: 100%;
	height: 50px;
	background: #d2d2d2;
}

#sidebar{
	float: left;
	width: 20%;
	height: 500px;
	background: #c2c2c2;
}

#content{
	padding-top: 30px;
	padding-left: 30px;
	float : right;
	width: 80%;
	height: 500px;
	background: #b2b2b2;
}

#footer{
	width: 100%;
	height: 100px;
	background: #a1a1a1;
}

#clear{
	clear: both;
}
