{% extends 'base.html' %}
{% block main_menu %}
	{% include 'main_menu.html' %}
{% endblock %}
{% load custom_template_filters %}
{% block content %}
<p>
	<a href="{% url 'user_manager_create' %}">
		Создать нового пользователя
	</a>
</p>
<table class="table">
	<tr>
	{% for key, value in staff_members.items %}
		<td>
			<table class="table">
				<thead>
					<tr>
						<td>
							<a href="
								{% url 'common_profile_view_profile' key.id %}
							">
							{{ key }}
							</a>
						</td>
						<td width=300px>
							{{ key.UserData.last_name}}
							{{ key.UserData.first_name }}
							{{ key.UserData.second_name }}
						</td>
					</tr>
				</thead>
				<tr>
					<td>
						<p>
							<img src="{{ key.UserData.avatar }}">
						</p>
						<p>
							<a href="
							    {% url 'user_manager_edit_permissions' key.id %}
							">
								Изменить права
							</a>
							<br>
							{% if user.UserData.Admin.is_superadmin and not key.UserData.Admin.is_superadmin %}
								<a href="
									{% url 'user_manager_deactivate' key.id %}
								">
									{% if key.is_active %}
										Отключить
									{% else %}
										Включить
									{% endif %}
								</a>
							{% endif %}
							{% if not key.is_active %}
								<br>
								<font color = "red">Отключен</font>
							{% endif %}
						</p>
					</td>
					<td>
						<p>
						<ul>
							{% for each in value %}
								<li>
									{{ perms_to_language|get_item:each }}<br>
								</li>
							{% endfor %}
						</ul>
						</p>
					</td>
				</tr>
			</table>
		<td>
		{% if forloop.counter|divisibleby:"2" %}
			</tr><tr>
		{% endif %}
	{% endfor %}
	</tr>
</table>
{% endblock %}
