{% extends 'base.html' %}
{% block main_menu %}
	{% include 'main_menu.html' %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <title>Управление персоналом</title>
{% endblock %}
{% load custom_template_filters %}
{% block content %}

<p>
<a id="userdata_edit_link" href = "#" onClick="ModalToggle('{% url 'user_manager_create' %}','{% url 'user_manager_create' %}','#form','Cоздание нового пользователя'); return false;" >Создать нового пользователя</a>
</p>
<table class="table table-bordered">
	<tr>
	{% for key, value in staff_members.items %}
		<td>
			<table class="table">
				<thead>
					<tr>
						<td>
                            {% url 'common_profile_view_profile' key.UserData.id as common_profile_view_profile %}
							<a href="#" onClick="linkWrapper('{{ common_profile_view_profile }}','{{ request.path }}')">
                            
							{{ key }}
							</a>
						</td>
						<td width=300px>
							{{ key.UserData.last_name}}
							{{ key.UserData.first_name }}
							{{ key.UserData.second_name }}
						</td>
					</tr>
				</thead>
				<tr>
					<td>
						<p>
							<img src="{{ key.UserData.avatar }}">
						</p>
						<p>
							
                            <a id="userdata_edit_link" href = "#" onClick="ModalToggle('{% url 'user_manager_edit_permissions' key.id %}','{% url 'user_manager_edit_permissions' key.id %}','#form','Базовая информация'); return false;" >Изменить права</a>
							<br>
                            {% url 'user_manager_deactivate' key.id as user_manager_deactivate %}
							{% if user.UserData.Admin.is_superadmin and not key.UserData.Admin.is_superadmin %}
								<a href="#" onClick="linkWrapper('{{ user_manager_deactivate }}','{{ request.path }}')">
									{% if key.is_active %}
										Отключить
									{% else %}
										Включить
									{% endif %}
								</a>
							{% endif %}
							{% if not key.is_active %}
								<br>
								<font color = "red">Отключен</font>
							{% endif %}
						</p>
					</td>
					<td>
						<p>
						<ul>
							{% for each in value %}
								<li>
									{{ perms_to_language|get_item:each }}<br>
								</li>
							{% endfor %}
						</ul>
						</p>
					</td>
				</tr>
			</table>
		<td>
		{% if forloop.counter|divisibleby:"2" %}
			</tr><tr>
		{% endif %}
	{% endfor %}
	</tr>
</table>
{% endblock %}
