{% extends 'base.html' %}
{% block content %}
<ul>
{% for each in staff_members %}
	<li>
	<p>
		{{ each.username }}<br>
		{{ each.UserData.last_name}} {{each.UserData.first_name }}<br>
		{% if not each.is_active %}
			<font color = "red">Отключен</font>
		{% endif %}
		<ul>
		{% if each.is_staff %}
		<li>
			{% if each.is_superuser %}
				<font color = "red">Главный Администратор</font>
			{% else %}
				<font color = "red">Администратор</font>
			{% endif %}
		</li>
		{% endif %}
		{% if each.UserData.is_event_worker %}
		<li>
			<font color = "blue">Управляющий событиями</font>
		</li>
		{% endif %}
		{% if each.UserData.is_teacher %}
		<li>
			<font color = "blue">Учитель</font><br>
		</li>
		{% endif %}
		{% if each.UserData.is_mentor %}
		<li>
			<font color = "blue">Воспитатель</font><br>
		</li>
		{% endif %}
		{% if each.UserData.is_observer %}
		<li>
			<font color = "blue">Наблюдатель</font><br>
		</li>
		{% endif %}
		</ul>
		<a href="{% url 'edit_staff_member_permissions' each.id %}">
			Изменить права
		</a><br>
		{% if user.is_superuser and not each.is_superuser %}
			<a href="{% url 'deactivate_staff_member' each.id %}">
				{% if each.is_active %}
				Отключить
				{% else %}
				Включить
				{% endif %}
			</a>
		{% endif %}
	</p>
	</li>
{% endfor %}
</ul>
{% endblock %}
