
<form id="userdata_form" method='post' class="form"  action="javascript:void(null);" enctype='multipart/form-data'>
<dl class="userdata">
{{ form.non_field_errors }}
{% for field in form.visible_fields %}
	<dt>{{ field.label }}</dt>
    <dd class="clearfix">
    {{ field }}
    {% if field.help_text %}
         <div class="clearfix">{{ field.help_text}}</div>
    {% endif %}
    {% if field.errors %}
    <div class="myerrors clearfix">{{field.errors }}</div>
    {% endif %}
    </dd>
{% endfor %}
</dl>
{% csrf_token %}
</form>
