{% extends "base.html" %}
{% block event_menu %}
	{% include 'event_menu.html' %}
{% endblock %}
{% block content %}
<form method="post" class="form-container" action="">
{% csrf_token %}
<dl class="schools">
{{ form.non_field_errors }}
{% for field in form.visible_fields %}
	<dt>{{ field.label }}</dt>
    <dd class="clearfix">
    {{ field }}
    {% if field.help_text %}
         <div class="clearfix">{{ field.help_text}}</div>
    {% endif %}
    {% if field.errors %}
    <div class="myerrors clearfix">{{field.errors }}</div>
    {% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Сохранить" class="clearfix">
</form>
{% endblock %}
