{% extends 'base.html' %}
{% block content %}
{% for event in events %}
<p>
{{ event }}<br>
<a href="{% url 'events_admin_edit' event.id 'base' %}">Редактировать базовую инфу</a>
<br>
{% if event.JourneyData %}
<a href="{% url 'events_admin_edit' event.id 'journey' %}">Редактировать выездное</a>
<br>
{% endif %}
<a href="{% url 'events_admin_deactivate' event.id %}">
{% if event.is_active %}
Закрыть событие
{% else %}
Открыть событие
{% endif %}
</a><br>

<a href="{% url 'events_admin_delete' event.id %}">Удалить событие</a>
{% endfor %}
{% endblock %}
